<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>

    <body>
        <article>
            <a href="#">
                <img src="img/thumbnail.jpg" alt="Creating Animated HTML5 Page Transitions">
            </a>
            
            <div class="preview">
                <ul class="meta">
                        <li>
                            <a href="#">Articles</a>
                        </li>
                        <li>
                            <a href="#">Web Roundup</a>
                        </li>
                </ul>
        
                <h2>Creating Animated HTML5 Page Transitions</h2>
                    
                <p class="post_info">
                    <a href="#">Kartikey</a> on Jun 28th 2018 <a href="#">69 comments</a>
                </p>
        
                <div class="text">
                    <p>
                        Animation in modern websites is usually limited to hover effects, banner sliders, and the like. More rarely might we see websites that transition from one page to the next, as you experience in a mobile app. In this course, I will demonstrate how to build animated page transitions for the web using HTML5, CSS transitions, and jQuery.
                    </p>
        
                    <p>
                        Animation in modern websites is usually limited to hover effects, banner sliders, and the like. More rarely might we see websites that transition from one page to the next, as you experience in a mobile app. In this course, I will demonstrate how to build animated page transitions for the web using HTML5, CSS transitions, and jQuery.
                    </p>
                </div>
                
                <a href="#" class="continue">Continue</a> 
            </div>           
        </article>
    </body>
</html>