header {
    font-size: 17px;
    overflow: hidden;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
}

header a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 13px 12px;
    margin: auto;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    background: grey;
}

header h1 {
    float: left;
    display: block;
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
}

section img {
    border-radius: 40%;
    width: 90%;
    padding-bottom: 20px;
}

hr {
    height: 12px;
    align-content: center;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.divider {
    margin: 0 auto;
    width: 1100px;
}

footer {
    background-color: #f4f4f4;
    width: 100%;
    height: 125px;
    bottom: 0;
}

footer .links {
    display: block;
    text-align: center;
}

footer .help {
    display: block;
    text-align: center;
    padding-top: 12px;
    text-transform: uppercase;
}

.help a {
    display: inline;
    color: black;
    text-decoration: none;
    letter-spacing: 6px;
}

footer i {
    font-size: 30px;
    padding: 20px;
}

footer a {
    color: black;
}

footer a:hover .fa-facebook-f {
    color: #3b5998;
}
footer a:hover .fa-twitter {
    color: #1da1f2;
}
footer a:hover .fa-instagram {
    color: #8a3ab9;
}
footer a:hover .fa-google-plus-g {
    color: #db4437;
}
footer a:hover .fa-reddit-alien {
    color: #ff4301;
}
footer a:hover .fa-pinterest {
    color: #bd081c;
}

.hero {
    background-image: url("../img/hero_cropped.jpg");
    height: 40%;
    margin-top: 48px;
}

.hero h3 {
    display: block;
    text-align: center;
    font-size: 90px;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    padding: 7%;
}

.body {
    font-family: 'Encode Sans Condensed', sans-serif;
}
.three_cols .grid_4 {
    margin-top: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    padding: 15px;
}

.three_cols h4 {
    text-transform: uppercase;
}

.two_cols {
    margin-top: 20px;
    padding-top: 20px;
}

.two_cols .grid_6 {
    box-sizing: border-box;
    padding: 15px;
}

.two_cols h4 {
    font-family: 'Jura', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
